<div fxLayout="column" fxLayoutAlign="center center">
        <h1>{{'home.mainSlogan' | translate}}</h1>
        <h3>{{'home.quizDescription' | translate}}</h3>
        <img src="assets/images/fcb_trikot_home.png"/>
        <div fxLayout="column">
            <mat-form-field>
                <input matInput name="email" [(ngModel)]="email" placeholder="Email">
            </mat-form-field>
            <mat-checkbox name="terms" [(ngModel)]="termsAccepted">
                {{ 'home.button.acceptTerms' | translate}}
            </mat-checkbox>
        </div>

        <button mat-raised-button color="warn" (click)="signup()">{{'home.button.startChallenge' | translate}}</button>
</div>
