@import '../shared/styles/main';

.home__top-image {
    height: 40vh;
    width: 100%;
    position: relative;
    background: url("/assets/images/fcb_landing.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    &::after {
        content: "";
        background-color: #233488;
        opacity: 0.4;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: 2;
    }
}

.home__jersey-image {
    margin-top:200px;
    height: 50px;
    background: url("/assets/images/fcb_trikot.png") no-repeat center center;
}

.home__top-header {
    color: $light-font-color;
    z-index: 3;
    text-align: center;
    font-weight: $font-bold;
    padding: $unit-md;

    h1 {
        font-size: $font-size-xlarge;
        text-transform: uppercase;
    }
    p {
        font-size: $font-regular;
    }
}

.home__jersey-img {
    height: 150px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.home__quiz-description-container {
    @include breakpoint-min($screen-lg-min) {
        p {
            font-size: $font-size-xlarge;
            margin: $unit-xs
        }
    }

    @include breakpoint-max($screen-md-max) {
        p {
            font-size: $font-size-large;
            margin: $unit-xs
        }
    }
    
}