@import '~@angular/material/theming';

$dark-gray: (
    50 : #e6e6e6,
    100 : #c2c2c2,
    200 : #999999,
    300 : #707070,
    400 : #515151,
    500 : #323232,
    600 : #2d2d2d,
    700 : #262626,
    800 : #1f1f1f,
    900 : #131313,
    A100 : #ef6c6c,
    A200 : #ea3e3e,
    A400 : #f50000,
    A700 : #db0000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);



$light-yellow: (
    50 : #fff9e6,
    100 : #ffefc1,
    200 : #ffe597,
    300 : #fedb6d,
    400 : #fed34e,
    500 : #fecb2f,
    600 : #fec62a,
    700 : #febe23,
    800 : #feb81d,
    900 : #fdac12,
    A100 : #ffffff,
    A200 : #fffcf7,
    A400 : #ffe9c4,
    A700 : #ffdfab,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$red: (
    50 : #fae2e4,
    100 : #f2b7bc,
    200 : #e9878f,
    300 : #e05662,
    400 : #d93240,
    500 : #d20e1e,
    600 : #cd0c1a,
    700 : #c70a16,
    800 : #c10812,
    900 : #b6040a,
    A100 : #ffdfdf,
    A200 : #ffacad,
    A400 : #ff797b,
    A700 : #ff5f62,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

@include mat-core();
$app-primary: mat-palette($dark-gray);
$app-accent: mat-palette($light-yellow);
$app-warn: mat-palette($red);
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
@include angular-material-theme($app-theme);
