@import '~@angular/material/theming';

$dark-gray: (
    50 : #e5e5e5,
    100 : #bebebe,
    200 : #939393,
    300 : #676767,
    400 : #474747,
    500 : #262626,
    600 : #222222,
    700 : #1c1c1c,
    800 : #171717,
    900 : #0d0d0d,
    A100 : #eb6969,
    A200 : #e53c3c,
    A400 : #ee0000,
    A700 : #d40000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$light-yellow: (
    50 : #faf6f0,
    100 : #f2e8da,
    200 : #e9d8c2,
    300 : #e0c8a9,
    400 : #dabd96,
    500 : #d3b184,
    600 : #ceaa7c,
    700 : #c8a171,
    800 : #c29867,
    900 : #b78854,
    A100 : #ffffff,
    A200 : #fff3e7,
    A400 : #ffdab4,
    A700 : #ffce9b,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$red: (
    50 : #fce8e4,
    100 : #f7c5bd,
    200 : #f29f91,
    300 : #ec7864,
    400 : #e85b43,
    500 : #e43e22,
    600 : #e1381e,
    700 : #dd3019,
    800 : #d92814,
    900 : #d11b0c,
    A100 : #fffdfc,
    A200 : #ffccc9,
    A400 : #ff9c96,
    A700 : #ff847d,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

@include mat-core();
$app-primary: mat-palette($dark-gray);
$app-accent: mat-palette($light-yellow);
$app-warn: mat-palette($red);
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
@include angular-material-theme($app-theme);
