<div class="padding--lg" fxLayout="column">
    <div>
        <p class="bold">Terms and Conditions – DHL Website</p>
        <p>
            On this page, you will find a standard version of the DHL Website Terms and Conditions. Please note that different terms
            and conditions may apply in certain countries. The Terms and Conditions of use of the DHL Website are as follows:
        </p>
    </div>
    <div>
        <p class="bold">Copyright</p>
        <p>
            The copyright in this publication is owned by DHL International GmbH.

        </p>
    </div>

    <div>
        <p class="bold">Authorization to Reproduce
        </p>
        <p>
            Any person may reproduce any portion of the material in these web pages subject to the following conditions: The material
            may be used for information and non-commercial purposes only
            <br> It may not be modified in any way
            <br> No unauthorized copy is made of any DHL trademark
            <br> Any copy of any portion of the material must include the following copyright notice:
            <br> Copyright © DHL International GmbH. All Rights Reserved.
            <br>

        </p>
    </div>

    <div>
        <p class="bold">DHL Trademarks
        </p>
        <p>
            ‘DHL’, ‘DHL Worldwide Express’, ‘DHL Express’, ‘DHL Parcel’, ‘DHL eCommerce’, ‘DHL Freight’, ‘DHL Supply Chain’, ‘DHL Global
            Forwarding’, ‘DHL Europlus’, ‘Jumbo Box’, ‘DHL Economy Select’, ‘DHLJetline’, ‘DHL Sprintline’, ‘DHL Secureline’,
            ‘DHL Express Easy’, ‘DHL Easy Shop’ , ‘DHL Connect’, ‘EasyShip’ are trademarks of DHL International GmbH or any
            other company of Deutsche Post DHL group, registered in at least one jurisdiction. No license to use any of these
            trademarks is given or implied. These trademarks may not be copied, downloaded, reproduced, used, modified or
            distributed in any way (except as an integral part of an authorized copy of material appearing in these web pages,
            as set forth in the previous section paragraph) without prior written permission.

        </p>
    </div>
    <div>
        <p class="bold">Other Trademarks and Trade names
        </p>
        <p>
            All other trademarks or trade names referred to in these materials are the property of their respective owners.

        </p>
    </div>
    <div>
        <p class="bold">Your Comments
        </p>
        <p>
            DHL wants your feedback and appreciates your ideas and suggestions but is unable to answer every comment individually. DHL
            will be free to use and act on any information you submit.

        </p>
    </div>
    <div>
        <p class="bold">Use of interactive features on this site
        </p>
        <p>
            For your convenience, DHL may provide interactive features on this site, such as access to tracking and user comments. You
            are authorized to use these features solely for the purposes specified and for no other purposes.

        </p>
    </div>
    <div>
        <p class="bold">Accuracy of this site
        </p>
        <p>
            These web pages may contain inadvertent inaccuracies or typographical errors. These will be corrected at DHL’s discretion,
            as they are found. The information on these web pages is updated regularly, but inaccuracies may remain or occur
            where changes occur between updates. The Internet is maintained independently at multiple sites around the world
            and some of the information accessed through these web pages may originate outside of DHL. DHL excludes any obligation
            or responsibility for this content.

        </p>
    </div>
    <div>
        <p class="bold">Viruses</p>
        <p>
            DHL makes all reasonable attempts to exclude viruses from these web pages, but it cannot ensure this exclusion and no liability
            is accepted for viruses. Please take all appropriate safeguards before downloading information from these web
            pages.

        </p>
    </div>
    <div>
        <p class="bold">Disclaimer of Warranties
        </p>
        <p>
            The services, the content and the information on this website are provided on an "as is" basis. DHL, to the fullest extent
            permitted by law, disclaims all warranties, whether express, implied, statutory or otherwise, including but not
            limited to the implied warranties of merchantability, non-infringement of third parties rights and fitness for
            a particular purpose. DHL, its affiliates and licensors make no representations or warranties about the accuracy,
            completeness, security or timeliness of the services, content or information provided on or through the DHL web
            site or systems. No information obtained via the DHL systems or website shall create any warranty not expressly
            stated by DHL in these terms and conditions. Some jurisdictions do not allow limitations of implied warranties,
            so the limitations and exclusions in this section may not apply to you. If you are dealing as a consumer, these
            provisions do not affect your statutory rights that cannot be waived, if any. You agree and acknowledge that
            the limitations and exclusions of liability and warranty provided in these terms and conditions are fair and
            reasonable.

        </p>
    </div>

    <div>
        <p class="bold">Limitation of Liability
        </p>
        <p>
            To the extent permitted by law, in no event shall DHL, its affiliates or licensors or any third parties mentioned at the
            DHL website be liable for any incidental, indirect, exemplary, punitive and consequential damages, lost profits,
            or damages resulting from lost data or business interruption resulting from the use of or inability to use the
            DHL website and DHL systems, services, content or information whether based on warranty, contract, tort, delict,
            or any other legal theory, and whether or not DHL is advised of the possibility of such damages. Without limiting
            the foregoing, to the extent permitted by applicable law, you agree that in no event shall DHL's total liability
            for any damages (direct or otherwise) or loss regardless of the form of action or claim, whether in contract,
            tort or otherwise, exceed EUR 100.00. To the extent permitted by law, the remedies stated for you in these terms
            and conditions are exclusive and are limited to those expressly provided for in these terms and conditions.

        </p>
    </div>

    <div>
        <p class="bold">Products and Services
        </p>
        <p>
            Unless otherwise agreed in writing, the transportation products and services mentioned in these web pages are subject to
            DHL’s Terms and Conditions of carriage. Since these may vary depending on location of the country of origin of
            the shipment, please contact the nearest DHL service center to obtain a copy of the local terms and conditions.
            Not all of DHL’s products and services may be available in every country.

        </p>
    </div>

    <div>
        <p class="bold"></p>
        <p>

        </p>
    </div>

    <div>
        <p class="bold">Disclosure of Information
        </p>
        <p>
            All information provided to DHL by visitors to these web pages is considered to be confidential and will not be disclosed
            by DHL to any third party except as may be required for the provision of the services.

        </p>
    </div>

</div>