<div class="account__container padding--sm" fxLayout="column">
    <div class="account__header">
        <h1 class="text-center">
            Hi Chris, <br/>
            you're almost there!
        </h1>
    </div>

    <div class="account__jersey margin--sm" fxLayoutAlign="center center" fxLayout="column">
        <img class="account__jersey-img" src="/assets/images/fcb_trikot.png"/>

        <div id="progress-bar-content">
            <mat-progress-bar class="progress-bar" color="accent" id mode="determinate" [value]="eps"></mat-progress-bar>
            <div class="progress-caption">
                {{eps}}/100
            </div>

        </div>

    </div>

    <div class="account__actions" fxLayoutAlign="center center">
        <a routerLink="/community/category" mat-raised-button color="warn">
            <mat-icon>dashboard</mat-icon>
            Earn points</a>
    </div>

</div>


