<mat-toolbar>
    <div fxFlex fxLayout="row">
        <div fxFlex fxLayoutAlign="start center" class="cursor-pointer" routerLink="/">
            <img [src]="logoUrl" height="30">
            <img class="margin-left--xs" src="assets/images/dhl.png" height="30"/>            
        </div>
        <div fxFlex *ngIf="!hasSideNav">
            <nav fxLayout="row" fxLayoutAlign="center center" fxHide fxShow.gt-sm>
                <a *ngFor="let item of menuItems" [routerLink]="item.route"
                   routerLinkActive="navigation-item--active"
                   class="navigation-item">{{item.name}}</a>
            </nav>
        </div>
        <div fxFlex fxLayoutAlign="end center" *ngIf="menuItems && menuItems.length > 0">
            <button fxShow fxHide.gt-sm mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon class="md-18">menu</mat-icon>
            </button>
        </div>
    </div>
</mat-toolbar>

<mat-menu #menu="matMenu">
    <button *ngFor="let item of menuItems" mat-menu-item
            [routerLink]="item.route"
            routerLinkActive="navigation-item-menu--active">
        <span>{{item.name}}</span>
    </button>
</mat-menu>
