<div class="page_top-image highscore__top-image" fxLayoutAlign="center center">
    <div class="page__top-header">
        <p>We will inform you as soon as possible!</p>
    </div>
</div>
<div fxLayout="column" class="padding--md" fxLayoutAlign="center center" *ngIf="single && scores && scores.length >0 ">

    <ngx-charts-pie-grid [view]="view" [scheme]="colorScheme" [results]="single" [designatedTotal]="totalValue">
    </ngx-charts-pie-grid>


    <div class="card highscore__table table__box-shadow">
        <table>
            <thead class="padding-vertical--sm">
            <th>
                Place
            </th>
            <th>
                Score
            </th>
            </thead>
            <tbody>
            <tr *ngFor="let score of scores; let i = index;"
                class="table__cell--highlighted"
                [class.own-user]="score.email">
                <td>
                    <div fxLayoutAlign="center center">
                        <button mat-mini-fab color="primary">
                            {{score.rank}}
                        </button>
                    </div>
                </td>
                <td>
                    <div fxLayoutAlign="center center">
                        {{score.points}}
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
