@import "../shared/styles/main";

.highscore__top-image {
    height: 30vh;
    width: 100%;
    position: relative;
    background: url("/assets/images/fcb_landing.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    &::after {
        content: "";
        background-color: $primary;
        opacity: 0.4;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: 2;
    }
}

.highscore__top-header {
    color: $light-font-color;
    z-index: 3;
    text-align: center;
    font-weight: $font-bold;
    padding: $unit-md;

    h1 {
        font-size: $font-size-xlarge;
        text-transform: uppercase;
    }
    p {
        font-size: $font-regular;
    }
}

.highscore__table {
    width: 400px;
    max-width: 100%;

    table {
        border-collapse: collapse;
        border-spacing: 0;
        border: none;
        width: 100%;

        thead {
            background-color: $light-gray-bg;
            th{
                height: 50px;
            }
        }

        tr {
            border-bottom: 1px solid rgba(0, 0, 0, .12);
            height: 48px;
            text-align: left;
            th {
                color: rgba(0, 0, 0, .54);
            }
            th, td  {
                border: none;
                padding: 0 $unit-sm;
            }
        }
    }

    .own-user {
        background-color: $accent;
    }
}
