<h1 class="text-center">Your Challenges</h1>


<mat-card class="nav-card" id="nav-1" routerLink="../social">
    <mat-card-content>
        <div class="layer">
        </div>

        <h1 class="nav-title">Community</h1>
    </mat-card-content>
</mat-card>

<mat-card class="nav-card" id="nav-2" routerLink="../game">
    <mat-card-content>
        <div class="layer">
        </div>

        <h1 class="nav-title">Games</h1>
    </mat-card-content>
</mat-card>

<mat-card class="nav-card" id="nav-3" routerLink="../dhl">
    <mat-card-content>
        <div class="layer">
        </div>

        <h1 class="nav-title">Brand Interaction</h1>
    </mat-card-content>
</mat-card>

<div id="progress-bar-content">
    <mat-progress-bar clas="progress-bar" color="accent" id mode="determinate" [value]="eps"></mat-progress-bar>
    <div class="text-center">
        FAN-EXPERIENCE POINTS
    </div>

</div>


<a routerLink="../account">Account</a>
<a routerLink="./">Category</a>
