<div class="start__top-image" fxLayoutAlign="center center">
    <div class="start__top-header">
        <h1>3 Steps To Win Your Jersey!</h1>
    </div>
</div>


<div class="start-content">
    <div fxLayout="column" class="full-width full-height padding--md">
        <div fxLayout="row" fxFlex class="padding--md">
            <div fxFlex="2 1 auto" fxLayoutAlign="left left">
                <span class="start__number">1</span>
            </div>
            <div fxFlex="8 1 auto" fxLayoutAlign="left left">
                Show us how much you know about FC Bayern within 60 seconds.
            </div>
        </div>


        <div fxLayout="row" fxFlex class="padding--md">
            <div fxFlex="2 1 auto" fxLayoutAlign="left left">
                <span class="start__number">2</span>
            </div>
            <div fxFlex="8 1 auto" fxLayoutAlign="left left">
                Compete against players from all over the world .
            </div>
        </div>


        <div fxLayout="row" fxFlex class="padding--md">
            <div fxFlex="2 1 auto" fxLayoutAlign="left left">
                <span class="start__number">3</span>
            </div>
            <div fxFlex="8 1 auto" fxLayoutAlign="left left">
                Rank #1 and win an FC Bayern jersey - shipped by DHL!
            </div>
        </div>
    </div>


    <div class="start__actions" fxLayout="column" fxLayoutAlign="center center">
        <button (click)="checkParticipation()"
                class="go-btn"
                mat-raised-button
                color="warn">
            <mat-icon>videogame_asset</mat-icon>
            <b>GO!</b>
        </button>
    </div>

</div>
