@import "../shared/styles/main";

.start__top-image {
    height: 30vh;
    //background: url("https://inmotion.adrivo.com/images/1242//uploads/content/2017/02_Sports/01_FC_Bayern/Page/Allianz-Arena_interior-27_preview.jpg") no-repeat center center fixed;
    background: url("/assets/images/fcb_landing.jpg") no-repeat center center fixed;
}

.start__container {
    padding: $unit-md;
}

.start__number {
    height: 50px;
    width: 50px;
    font-size: 32px;
    line-height: 45px;
    background: $primary;
    color: $light-font-color;
    border-radius: 50%;
    text-align: center;
}

.single-step {
    margin-top: 20px;
}

.header-image-steps {
    height: 20%;
    margin-left: -30px;
    width: 110%;
    background: url('/assets/images/bayern-header-logo.jpg') no-repeat center center fixed;
}

.go-btn {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 75px;
}

.start-content{
    @include breakpoint-min($screen-md-min) {
        width: 600px;
        margin: auto;
    }
}
