<div class="header-image-steps">

</div>

<mat-grid-list cols="4" rowHeight="150px;">

    <mat-grid-tile
        [colspan]=1>
        <span class="start-number">1</span>
    </mat-grid-tile>
    <mat-grid-tile class="start-text"
        [colspan]=3>
        Das ist ein Text
    </mat-grid-tile>


    <mat-grid-tile
        [colspan]=1>
        <span class="start-number">2</span>
    </mat-grid-tile>
    <mat-grid-tile class="start-text"
        [colspan]=3>
        Das ist ein Text
    </mat-grid-tile>


    <mat-grid-tile
        [colspan]=1>
        <span class="start-number">3</span>
    </mat-grid-tile>
    <mat-grid-tile class="start-text"
        [colspan]=3>
        Das ist ein Text
    </mat-grid-tile>
</mat-grid-list>

<a (click)="checkParticipation()" class="fancy-button pop-onhover bg-gradient1 start-fancy-button"><span>Starte das Quiz!</span></a>
